:root {
    --primary-color: #0f4c75;
    --second-color: #3282b8;
    --destaque: #f9a826;
    --background: #1b262c;
    --text: #ffffff;

    --title-font: 'Poppins';
    --text-font: 'Roboto';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color: var(--text);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    padding: 20px;
    text-align: center;
    background: var(--background);
    font-family: var(--title-font);
}

.container {
    max-width: 600px;
    animation: fadeInUp .8s ease-out;
}

.avatar {
    width: 180px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 3px solid var(--destaque);
}

h1 {
    font-size: 2.5rem;
    color: var(--destaque);
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    color: var(--second-color);
    font-family: var(--text-font);
    margin-bottom: 30px;
}

.button {
    text-decoration: none;
    font-weight: 600;
    
    padding: 12px 24px;
    border-radius: 12px;

    background: var(--second-color);
    transition: background .3s;
}

.button:hover {
    background: var(--primary-color);
}

.social-links {
    margin-top: 25px;
}

.social-links i {
    margin: 0 10px;
    color: var(--text);
    font-size: 1.5rem;
    text-decoration: none;
    transition: color .3s;
}

.social-links i:hover {
    color: var(--destaque);
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}